<div class="row">
    <div class="col-md-4">
        <div class="well">
            <h2 class="text-center">Developers</h2>
            <!--<h4 class="text-center">Featured Developer:</h4>-->
            
            <% @users.each do |user| %>
                <% if user.profile %>
                    <% if user.profile.avatar %>
                        <% if user.profile.job_title == "Developer" %>
                            <div class="row well user-background-box">
                                <div class="col-sm-4 text-center">
                                    <%= link_to user do %>
                                        <%= image_tag user.profile.avatar.url(:thumb), class: 'user-index-avatar' %>
                                    <% end %>
                                </div>
                                <div class="col-sm-8">
                                    <%= link_to user do %>
                                        <h4> <%= user.profile.first_name %> <%= user.profile.last_name %></h4>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h2 class="text-center">Entrepreneurs</h2>
            
            <% @users.each do |user| %>
                <% if user.profile %>
                    <% if user.profile.avatar %>
                        <% if user.profile.job_title == "Entrepreneur" %>
                            <div class="row well user-background-box">
                                <div class="col-sm-4 text-center">
                                    <%= link_to user do %>
                                        <%= image_tag user.profile.avatar.url(:thumb), class: 'user-index-avatar' %>
                                    <% end %>
                                </div>
                                <div class="col-sm-8">
                                    <%= link_to user do %>
                                        <h4> <%= user.profile.first_name %> <%= user.profile.last_name %></h4>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h2 class="text-center">Investors</h2>
            
            <% @users.each do |user| %>
                <% if user.profile %>
                    <% if user.profile.avatar %>
                        <% if user.profile.job_title == "Investor" %>
                            <div class="row well user-background-box">
                                <div class="col-sm-4 text-center">
                                    <%= link_to user do %>
                                        <%= image_tag user.profile.avatar.url(:thumb), class: 'user-index-avatar' %>
                                    <% end %>
                                </div>
                                <div class="col-sm-8">
                                    <%= link_to user do %>
                                        <h4> <%= user.profile.first_name %> <%= user.profile.last_name %></h4>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>